@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --product-gradient: linear-gradient(135deg, #FFB74D 0%, #FFA726 100%);
  --font-outfit: 'Outfit', sans-serif;
}

@layer base {
  body {
    background: #ffffff;
    font-family: var(--font-outfit);
    @apply text-gray-900 antialiased overflow-x-hidden min-h-screen;
  }
}

/* Custom Scrollbar Hiding */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Selection Color */
::selection {
  @apply bg-orange-500 text-white;
}

/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}